#Footer{
    
    background-color: #00071B;;
}
#logo{
    margin-top: 1%;
    height: 5rem;
}
#KevGroup{
    display: flex;
    color: white;

}
#Iglesia{
    margin-left: 5%;
}

#Contact{
    margin-left: 10%;
    color: white;
    width: 25%;
}
#ContactBody{
    margin-top: -1%;
}
.MuiOutlinedInput-notchedOutline{
    border-color: white !important;
    width: 160%;
    height: 70%;
    color:white
 }
 #textfield{
    margin:1% 10% 0%;
 }
